In [11]:
import pandas as pd
from glob import glob
import os

In [3]:
tracts_df = pd.read_csv('./data/dataframes/tracts_annual')

In [4]:
empty_df = pd.DataFrame({'GEO_ID' : [0], 'DP05_0002PE': [0], 'DP05_0003PE': [0]})

year_list = ['2010', '2011', '2012', '2013', '2014', '2015', '2016']
state_list = ['AL', 'AR']

for state in state_list:
    for year in year_list:
        df=pd.read_csv('./data/additional_features/gender/'+state+'_'+year+'.csv')
        df.drop(df.columns.difference(['GEO_ID', 'DP05_0002PE', 'DP05_0003PE']), 1, inplace=True)
        
        #cleaning 
        df.drop(0, inplace=True)
        
        drop_index = df[df['DP05_0002PE']=='-'].index
        df.drop(drop_index, inplace=True)
        
        df['DP05_0003PE'] = df['DP05_0003PE'].astype(float)
        df['DP05_0002PE'] = df['DP05_0002PE'].astype(float)
        df['GEO_ID'] = df['GEO_ID'].str.rpartition('US0')[2].astype(int)
        
        df['year'] = year
        
        #combining 
        empty_df = empty_df.append(df)
        
        #keeping this in until I can find out why every entry has a duplicate 
        empty_df.drop_duplicates(inplace=True)

/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,227,228,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,326,327,328,330,331,334,335) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
empty_df.groupby(by="GEO_ID").median()

            DP05_0002PE  DP05_0003PE
GEO_ID
0                   0.0          0.0
1001020100         49.6         50.4
1001020200         48.8         51.2
1001020300         45.6         54.4
1001020400         48.0         52.0
...                 ...          ...
5149952302         53.5         46.5
5149952401         50.3         49.7
5149952402         49.5         50.5
5149952500         48.1         51.9
5149952600         52.0         48.0

[3392 rows x 2 columns]

In [ ]:
empty_df[empty_df['GEO_ID'] == 1001020100 ]

In [ ]:
empty_df[empty_df['GEO_ID']== 1035960200]

In [ ]:
drop_index

In [ ]:
df.drop(drop_index, inplace=True)

In [ ]:
test_df.drop(0, inplace=True)

In [ ]:
test_df['GEO_ID'] = test_df['GEO_ID'].str.rpartition('US0')[2].astype(int)

In [ ]:
test_df.drop(test_df.columns.difference(['GEO_ID', 'DP05_0002PE', 'DP05_0003PE']), 1)

In [ ]:
test_df['GEO_ID'].str.rpartition('US0')[2]

In [ ]:
test_df

In [ ]:
df[df['GEO_ID'] == 1001020100]

In [8]:
csv_files = glob('./data/additional_features/gender/all_gender/*.csv')

In [136]:
csv_dict = {}

for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace('.csv', "")
    filename_df = pd.read_csv(filename)
    
    filename_df.drop(0, inplace=True)
    filename_df.drop(filename_df[filename_df['DP05_0002PE'] == '-'].index, inplace=True)
    
    filename_df['year'] = filename_cleaned.rpartition('gender_')[-1]
    filename_df['GEO_ID'] = filename_df['GEO_ID'].str.rpartition('US')[2].astype(int)
    filename_df['male'] = filename_df['DP05_0002PE'].astype(float)
    filename_df['female'] = filename_df['DP05_0003PE'].astype(float)

    filename_df.drop(filename_df.columns.difference(['GEO_ID','male', 'female', 'year']), 1, inplace=True)
    csv_dict[filename_cleaned] = filename_df

/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,227,228,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/Jack/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323,326,327,328,330,331,334,335) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [137]:
csv_dict['all_gender_2010']

            GEO_ID  year  male  female
1      28001000100  2010  47.9    52.1
2      28001000200  2010  42.8    57.2
3      28001000300  2010  41.5    58.5
4      28001000400  2010  49.9    50.1
5      28001000500  2010  50.5    49.5
...            ...   ...   ...     ...
73652  56043000200  2010  52.7    47.3
73653  56043000301  2010  51.5    48.5
73654  56043000302  2010  49.6    50.4
73655  56045951100  2010  56.1    43.9
73656  56045951300  2010  49.3    50.7

[72918 rows x 4 columns]

In [138]:
gender_df = pd.DataFrame({'GEO_ID' : [0], 'male': [0], 'female': [0], 'year': 0})

for df in csv_dict.keys():
    gender_df = gender_df.append(csv_dict[df])
    
gender_df.drop(0, inplace=True)

In [139]:
gender_df.to_csv('./data/dataframes/all_gender')